@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  /* font-family: 'Poppins', sans-serif; FONT CŨ NÈ*/
  /* font-family: 'Manrope', sans-serif; */
  font-family: 'Lexend', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  position: relative;
}

.App>.client {
  /* max-width: 1200px; */
  /* min-height: 100vh; */
  margin-top: 40px !important;
  padding: 30px 20px;
  box-shadow: 0 0 35px #eee;
  padding-top: 30px;
}

.App>.admin {
  background: #eee;
}

a {
  text-decoration: none;
}

/* a:link {
  color: blue;
} */

ul li {
  list-style: none;
}

button {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}

table {
  border-spacing: 0;
}

.address-form {
  display: none;
}

.address-form.active {
  display: block;
  position: initial;
}

/* Responsive */
@import url("./components/mainpages/utils/Responsive/grid.css");

/* Header */
@import url("./components/headers/header.css");

/* Product */
@import url("./components/mainpages/products/products.css");

/* Detail Product */
@import url("./components/mainpages/detailProduct/detailProduct.css");

/* Login/Register */
@import url("./components/mainpages/auth/login.css");

/* Home */
@import url("./components/mainpages/home/home.css");

/* Cart */
@import url("./components/mainpages/cart/cart.css");

/* History */
@import url("./components/mainpages/history/history.css");

/* Category */
@import url("./components/mainpages/categories/categories.css");

/* Create Product */
@import url("./components/mainpages/createProduct/createProduct.css");

/* Slider */
@import url("./components/mainpages/slider/myslider.css");

/* User infor */
@import url("./components/mainpages/user/userInfor.css");

/* About */
@import url("./components/mainpages/about/about.css");

/* admin panel */
@import url("./components/adminPage/admin.css");

/* Footer */
@import url("./components/footer/footer.css");