.review-pagination{
    margin-top: 15px;
    list-style: none;
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 16px;
    gap: 5px;
}

.review-pagination .review-page-num, .review-pagination .next a{
    padding: 0 15px;
    border: 1px #555 solid;
    cursor: pointer;
}

.review-pagination .review-page-num:hover, .review-pagination .next a:hover{
    background-color: #ee4d2d;
    color: #fff;
}

.review-pagination .review-page-active .review-page-num{
    background-color: #ee4d2d
}
